footer {
    background-color: #f8f8f8;
    padding: 25px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 150px;
    left: 0;
}

.footer-area {
    width: auto;
    text-align: center;
    margin: auto;
}

.footer-sns a i {
    font-size: 25px;
    margin: 10px;
    color: #444;
}

.footer-info p {
    font-size: 12px;
    color: #ccc;
}

.footer-info p span {
    display: block;
}

.scrollup button {
    border: none;
    position: fixed;
    right: 60px;
    bottom: 60px;
    font-size: 36px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    font-weight: bold;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}