footer {
    background-color: #f8f8f8;
    padding: 25px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 150px;
    left: 0;
    
}

.footer-area {
    width: auto;
    text-align: center;
    margin: auto;
}

.footer-sns a i {
    font-size: 25px;
    margin: 10px;
    color: #444;
}

.footer-info p {
    font-size: 12px;
    color: #ccc;
}

.footer-info p span {
    display: block;
}